@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --black-gradient: linear-gradient(144.39deg,
            #ffffff -278.56%,
            #6d6d6d -78.47%,
            #11101d 91.61%);
    --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
    scroll-behavior: smooth;
    font-family: 'Nunito Sans', sans-serif;
}

body {
    background-color: #101b36;
}

.text-gradient {
    background: radial-gradient(64.18% 64.18% at 71.16% 35.69%,
            #defaf6 0.89%,
            #bef5c3 17.23%,
            #9df09d 42.04%,
            #8aeb7d 55.12%,
            #c1e65c 71.54%,
            #cccf33 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

@keyframes iconMovement {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(7px);
    }

    100% {
        transform: translateY(0);
    }
}

.icon {
    animation: iconMovement 1s infinite;
}