@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --black-gradient: linear-gradient(144.39deg,
            #ffffff -278.56%,
            #6d6d6d -78.47%,
            #11101d 91.61%);
    --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
    scroll-behavior: smooth;
    font-family: 'Nunito Sans', sans-serif;
}

body {
    background: linear-gradient(to left bottom, #0f1b36, #8c96b1);
}


.text-gradient {
    background: #CFCF15;
    background: radial-gradient(circle farthest-side at top left, #CFCF15 0%, #d68f49 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes iconMovement {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(7px);
    }

    100% {
        transform: translateY(0);
    }
}

.icon {
    animation: iconMovement 1s infinite;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(113, 103, 165);
    border-radius: 15px;
}

::-webkit-scrollbar-track {
    background-color: rgb(15, 27, 54);
    border-radius: 15px;

}